Repository gridverse-in/docker-wordpress, changes with the labels that .github/labeler.yaml gives for each.
All labels: image, docs, automation

fix: changed published image name to wordpress
  .github/workflows/publish-docker.yaml
Labels: automation

fix
  .github/CODEOWNERS
  .github/workflows/pr_title.yml
Labels: automation

fix: published image name to wordpress from docker-wordpress (#2)
  .github/CODEOWNERS
  .github/workflows/pr_title.yml
  .github/workflows/publish-docker.yaml
Labels: automation

fix missing wp-cli phar
  Dockerfile
Labels: image

fix missing wp-cli phar (#3)
  Dockerfile
Labels: image

fix: missing cli
  Dockerfile
Labels: image

fix: missing cli (#4)
  Dockerfile
Labels: image

add jq and yq
  .github/CODEOWNERS
  Dockerfile
  rootfs/usr/local/bin/entrypoint.sh
  rootfs/usr/local/etc/php/conf.d/php.ini
Labels: image, automation

xdebug version
  .github/workflows/publish-docker.yaml
  xdebug.Dockerfile
Labels: automation

xdebug images
  .gitattributes
  Dockerfile
  Dockerfile.xdebug
  rootfs/usr/local/bin/entrypoint.sh
  rootfs/usr/local/etc/php/conf.d/xdebug.ini
Labels: image

Feat: add jq and yq and xdebug (#5)
  .gitattributes
  .github/CODEOWNERS
  .github/workflows/publish-docker.yaml
  Dockerfile.xdebug
  rootfs/usr/local/bin/entrypoint.sh
  rootfs/usr/local/etc/php/conf.d/php.ini
  rootfs/usr/local/etc/php/conf.d/xdebug.ini
Labels: automation

fix: build process
  .github/workflows/publish-docker.yaml
Labels: automation

fix: base image
  .github/workflows/publish-docker.yaml
  Dockerfile
  Dockerfile.xdebug
  rootfs/usr/local/etc/php/conf.d/xdebug.ini
Labels: image, automation

fix: eof
  .gitattributes
Labels: none

fix: builds
  .github/workflows/publish-docker.yaml
Labels: automation

pr build support
  .github/workflows/pr_build.yaml
Labels: automation

push
  .github/workflows/pr_opened.yml
Labels: automation

fixed builds
  Dockerfile
  Dockerfile.xdebug
Labels: image

change gcr.io to ghcr.io
  .github/workflows/pr_opened.yml
  Makefile
Labels: automation

change name of build task
  .github/workflows/pr_build.yaml
Labels: automation

improved dockerfiles
  Dockerfile
  Dockerfile.xdebug
Labels: image

fix build further
  .github/workflows/pr_opened.yml
  Dockerfile
  Dockerfile.xdebug
Labels: image, automation

formatting error in arm builds
  Dockerfile
  Dockerfile.xdebug
Labels: image

add buildx
  .github/workflows/pr_build.yaml
Labels: automation

fix: added jq and yq to builds (#6)
  .github/workflows/pr_build.yaml
  .github/workflows/pr_opened.yml
  .github/workflows/publish-docker.yaml
  Dockerfile
  Dockerfile.xdebug
  Makefile
Labels: image, automation

publish images
  .github/workflows/publish-docker.yaml
Labels: automation

fix: image names
  .github/workflows/publish-docker.yaml
Labels: automation

permission fix on entrypoint
  Dockerfile
  Dockerfile.xdebug
Labels: image

added mysql client
  Dockerfile
Labels: image

added mysql client (#7)
  Dockerfile
Labels: image

optimize wordpress
  Dockerfile
  Dockerfile.xdebug
  rootfs/usr/local/bin/entrypoint.sh
  rootfs/usr/local/bin/install-plugin.sh
  rootfs/usr/local/bin/install-theme.sh
Labels: image

optimize wordpress (#8)
  Dockerfile
  Dockerfile.xdebug
  rootfs/usr/local/bin/entrypoint.sh
  rootfs/usr/local/bin/install-plugin.sh
  rootfs/usr/local/bin/install-theme.sh
Labels: image

fix build issue
  rootfs/usr/local/bin/install-plugin.sh
  rootfs/usr/local/bin/install-theme.sh
Labels: none

predeploy wordpress
  Dockerfile
  Dockerfile.xdebug
Labels: image

missed chown in xdebug version
  Dockerfile.xdebug
Labels: none

fix wp-content permissions
  Dockerfile
  Dockerfile.xdebug
Labels: image

added additional modules
  Dockerfile
  Dockerfile.xdebug
Labels: image

added additional modules (#9)
  Dockerfile
  Dockerfile.xdebug
Labels: image

.github/labeler.yaml:

image:
  - Dockerfile

docs:
  - docs/**
  - README.md

automation:
  - .github/**
  - Makefile
  - .pre-commit-config.yaml
